@font-face {
    font-family: DinPro;
    src: url(fonts/DINPro-Cond.otf);
}
@font-face {
    font-family: DinPro;
    src: url(fonts/DINPro-CondMedium.otf);
    font-weight: 500;
}
@font-face {
    font-family: Adelle;
    src: url(fonts/Adelle-Regular.ttf);
}
@font-face {
    font-family: Fjalla;
    src: url(fonts/FjallaOne-Regular.ttf);
}
@font-face {
    font-family: Graffiare;
    src: url(fonts/Graffiare.ttf);
}
@font-face {
    font-family: DroidSans;
    src: url(fonts/DroidSans.ttf);
}
@font-face {
    font-family: DroidSerif;
    src: url(fonts/DroidSerif-Regular.ttf);
}
a {
    color: #444 !important;
}
a:hover, a:active {
    text-decoration: none;
    color: #c4161c !important;
    cursor: pointer;
}
h1, h2, p {
    margin: 0 !important;
}
ul, li {
    -webkit-padding-start: 0px;
}
html {
    overflow: auto;
    height: auto;
}
html.toggled {
    overflow: hidden;
    height: 100%;
}
body {
    font-family: 'DroidSans', Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
}
.relative {
    position: relative;
    overflow: hidden;
}
#loader {
    display: none;
    position: fixed;
    z-index: 99999;
    background: url("http://www.istinomer.rs/images/loader/bg_transparent.png");
}
.box-shadow-inset-lg {
    box-shadow: 0 0 80px #111 inset;
}
.box-shadow-inset-sm {
    box-shadow: 0 0 40px #111 inset;
}
.content-box {
    padding-bottom: 40px !important;
    box-sizing: content-box;
}
.item-big {
    min-height: 480px; /*prebaci u js*/
    margin-bottom: 20px;
}
.wrap-border {
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.wrap-first {
    border-right: 0px;
}
.wrap-last {
    border-left: 0px;
}
@media screen and (max-width: 768px) {
    .wrap-first {
        border-right: 1px solid #ccc;
    }
    .wrap-last {
        border-left: 1px solid #ccc;
    }
}
.all-more, .top-grid .all-more {
    width: calc(100% - 40px);
    position: absolute !important;
    bottom: 20px !important;
    text-transform: uppercase;
}
.all-more a:first-child {
    float: left;
}
.all-more a:last-child {
    float: right;
}
.other-more {
    margin-top: 20px;
    margin-left: 20px;
}
.all-info {
    font-family: "DroidSerif";
    font-weight: 500;
    margin-bottom: 20px;
}
.all-info {
    font-size: 18px;
}
.all-info h1 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px !important;
}
.all-info span {
    font-size: 13px;
    display: block;
}
.heading-sans {
    font-size: 18px;
    font-family: "DroidSerif";
}
/*TOP NAVIGATION*/
.cd-header-1 {
    margin-top: 20px;
}
.cd-header-1 .top-nav {
    font-weight: 400;
    color: #a5a7aa;
    margin-bottom: 10px;    
    float: right;
}
.cd-header-1 .top-nav .info {
    float: left;
    margin-right: 10px;
    font-family: "DinPro", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.cd-header-1 .top-nav .info a {
    color: #09223f;
}
.cd-header-1 .top-nav .social .fa, .footer .social .fa {
    margin: 0 3px;
    color: #09223f;
    font-size: large !important;
}
.cd-header-1 .top-nav .social {
    float: left;
}
.cd-header-1 .top-nav .search {
    position: relative;
    float: left;
    display: inline-table;
}
.search input {
    border: 1px solid #a5a7aa;
    background: #e7e7e8;
    outline: 0;
    padding: 4px 24px 4px 4px;
    color: #000;
    font-size: 12px;
    width: 255px;
}
.search-btn {
    position: absolute;
    right: 20px;
    top: -1px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.search-btn.selected {
    background: #fff;
    color: #c4161c;
}
.search-btn .fa {
    font-size: large;
}
.search-input {
    display: none;
    position: absolute;
    top: 37px;
    right: -1px;
    padding: 10px;
    background: #fff;
    border: 1px solid #c4161c;
    border-top: 0px;
    z-index: 10000;
}
.search-input input {
    width: 260px;
    box-shadow: inset 0 0 15px 0 rgba(0,0,0,0.1);
    border: transparent;
    padding: 7px;
}
/*HEADER*/
.header {
    clear: both;
    position: relative;
    width: calc(100% - 1px);
    /*width: 100%;*/
}
@media screen and (max-width: 1100px) {
    .header {
        width: 100%;
    }
}
.cd-header-1 .logo {
    width: 25%;
    height: 60px;
    margin-top: -32px;
    margin-left: -8px;
    float: left;
    text-align: center;
}
.cd-header-1 .logo img {
    width: 250px;
}
.top-content {
    float: right;
    position: relative;
}
.top-content .trending {
    position: relative;
    width: 660px;
    height: 60px;
    border: 1px solid #ccc;
    border-bottom: 0px;
}
.top-content .trending .tr-main:hover p:last-child {
    color: #c4161c;
    cursor: pointer;
}
.top-content .trending .trending-img {
    display: block;
    width: 90px;
    height: 60px;
    float: left;
    overflow: hidden;
}
.top-content .trending .trending-img img{
    height: 100%;
}
.top-content .trending .text {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    color: #333;
    /*font-size: 14px;*/
    width: calc(100% - 130px);
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}
.trending-dropdown .text {
    width: 100% !important;
}
.top-content .trending .text .header {
    font-family: "DinPro";
    font-size: 15px;
    text-transform: uppercase;
    color: #09223f;
}
.top-content .trending .tr-main p:last-child {
    margin-top: 5px !important;
}
@media screen and (max-width: 992px) {
    .top-content .trending .text {
        padding: 5px;
    }
    .top-content .trending .tr-main p:last-child {
        margin-top: 2px !important;
    }
}
.trending-toggle {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-left: 0;
    border-bottom: 0;
    width: 40px;
    height: 60px;
    display: block;
    /*position: absolute;*/
    top: -1px;
    right: 0;
    z-index: 1;
    cursor: pointer;
    float: left;
    position: relative;
}
.trending-toggle .fa-caret-down {
    position: absolute;
    top: 21px;
    left: 15px;
    font-size: large !important;
    color: #09223f;
}
.trending-toggle:hover .fa-caret-down {
    color: #c4161c;
}
.trending-toggle .fa-caret-up {
    display: none;
}
.trending-toggle.selected {
    background: #09223f;
    border: 1px solid #09223f;
}
.trending-toggle.selected .fa-caret-down {
    display: none;
}
.trending-toggle.selected .fa-caret-up {
    display: inherit;
    position: absolute;
    top: 21px;
    left: 15px;
    font-size: large !important;
    color: #fff;
}
.trending-dropdown {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 9999;
}
.trending-dropdown li {
    list-style: none;
    display: flex;
    height: 60px;
}
.trending-dropdown li .text p {
    margin-top: 15px !important;
}
.trending-dropdown li:hover .text {
    color: #c4161c;
}
.trending-dropdown li:nth-child(odd) {
    background: #f0f0f0;
}
.trending-dropdown li:nth-child(even) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
/*.mouth {
    width: 100%;
    max-width: 507px;
    height: 100px;
    overflow: hidden;
    float: left;
}
.mouth img {
    width: 507px;
    opacity: 0.5;
}*/
.cd-header-1 .btn-hot-news-1 {
    /*position: absolute;*/
    right: 0px;
    box-sizing: border-box;
    width: 80px;
    height: 60px;
    background: #c4161c;
    font-size: 15px;
    /*padding: 20px 0 0;*/
    padding: 10px;
    color: #fff;
    text-align: center;
    float: right;
    font-family: 'DinPro', sans-serif;
}
.cd-header-1 .btn-hot-news-1 span {
    display: block;
    font-size: 30px;
    /*margin: 5px 0 0;*/
    margin: 0 auto;
    font-family: 'Graffiare';
    line-height: 27px;
}
.cd-header-1 .btn-hot-news-1:hover {
    background: #0c2e55;
    cursor: pointer;
}
.cd-header-1 .btn-hot-news-1 span .fa {
    font-size: small !important;
    position: absolute;
    top: 25px;
    right: 12px;
}
.cd-header-1 .btn-hot-news-1 .fa-caret-up, .cd-header-1 .btn-hot-news-1.selected .fa-caret-down {
    display: none;
}
.cd-header-1 .btn-hot-news-1.selected .fa-caret-up {
    display: inline-block;
}
/*HOT NEWS*/
.cd-hot-news-1 {
    max-width: 1023px;
    /*display: block;*/
    display: none;
    clear: both;
    position: relative;
    overflow: hidden;
    border-top: 1px #a5a7aa solid;
    border-left: 1px #a5a7aa solid;
    border-right: 1px #a5a7aa solid;
    border-bottom: 1px #a5a7aa solid;
}
.cd-hot-news-1 .hot-news-wrapper {
    float: left;
    max-width: 920px;
    width: 91.6% !important;
    overflow: hidden;
    position: relative;
    min-height: 220px;
}
.cd-hot-news-1 .hot-news-wrapper .position {
    position: absolute;
    left: 0;
    top: 0;
    width: 9999px;
    min-height: 200px;
}
.cd-hot-news-1 .hot-news-wrapper .hn-col-1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px 10px 8px !important;
    border-right: 1px #a5a7aa solid;
    /*font-size: 14px;*/
    /*width: 33%;*/
    /*height: 200px;*/
    /*width: 293px;*/
}
.cd-hot-news-1 .hot-news-wrapper .hn-col-1 .headline {
    background: #c4161c;
    color: #fff;
    font-size: 11px;
    /*font-weight: 700;*/
    display: inline-block;
    padding: 4px 7px;
    /*margin: 20px 0 5px;*/
    margin-top: 5px;
}
.cd-hot-news-1 .hot-news-wrapper .hn-col-1 .headline.no-news {
    background: #bbb;
}
.cd-hot-news-1 .hot-news-wrapper .hn-col-1 a {
    display: block;
    /*margin: 20px 0 0;*/
    margin-top: 10px;
    color: #000;
    line-height: 20px;
}
.hn a {
    color: #777 !important;
}
.todays-hn a {
    color: #111 !important;
}
.cd-hot-news-1 .btn-left {
    box-sizing: border-box;
    position: relative;
    float: left;
    max-width: 40px;
    border-right: 1px #a5a7aa solid;
    color: #a5a7aa;
    z-index: 999;
    height: 220px;
}
.cd-hot-news-1 .btn-left:hover {
    background: #e7e7e8;
    color: #65676b;
    cursor: pointer;
}
.cd-hot-news-1 .btn-left .fa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 24px;
}
.cd-hot-news-1 .btn-right {
    box-sizing: border-box;
    position: relative;
    float: right;
    max-width: 40px;
    border-left: 1px #a5a7aa solid;
    color: #a5a7aa;
    height: 220px;
}
.cd-hot-news-1 .btn-right:hover {
    background: #e7e7e8;
    color: #65676b;
    cursor: pointer;
}
.cd-hot-news-1 .btn-right .fa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 24px;
}
.hn-col-wrap {
    width: 942px;
    float: left;
    display: flex;
    height: 220px;
}
.hn-col-wrap .hn-col-1:last-child {
    /*border-right: 0px;*/
}
@media screen and (max-width: 1100px) {
    .cd-hot-news-1 {
        display: none !important;
    }
}

/*NAVIGATION*/
.heading-h {
    height: 36px;
    box-sizing: border-box;
    padding: 10px 0 0 20px;
    margin-bottom: 10px;
    /*border-bottom: 1px #a5a7aa solid;*/
    background: transparent;
    color: #444;
    font-size: 20px;
    font-family: 'DinPro';
    font-weight: 500;
    text-transform: uppercase;
}
#sticky-nav {
    clear: both;
}
.cd-main-nav-1 {
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    /*width: calc(100% - 1px);*/
    /*width: 100%;*/
    background: #09223f; /*c4161c*/
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: inherit;
    border-bottom: 1px solid #f1f1f2;
}
.cd-header-1 .btn-hot-news-1, .cd-main-nav-1 {
    text-align: center;
    color: #fff;
}
.cd-main-nav-1 .item-1 {
    display: inline-block;
    padding: 7.5px 5px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'DinPro', sans-serif;
    margin-top: -1px;
    cursor: pointer;
    margin-right: 5px;
}
.cd-main-nav-1 .item-1:hover {
    color: #c4161c;
}
.cd-main-nav-1 .item-1.selected {
    background: #fff;
    color: #09223f;
}
.cd-main-nav-1 .item-1 .fa {
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: 3px;
    color: #a5a7aa;
    /*display: none;*/
}
/*.cd-main-nav-1 .item-1:hover .fa {
    color: #09223f;
}*/
.cd-main-nav-1 .item-1 .fa.fa-caret-up {
    display: none;
}
.cd-main-nav-1 .item-1.selected .fa {
    display: none;
}
.cd-main-nav-1 .item-1.selected .fa.fa-caret-up {
    display: inherit;
    color: #09223f;
    /*display: none;*/
}
.cd-main-nav-1 .item-1 span {
    display: inline-block;
    margin: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

/*dropdown-wrap*/
.cd-main-nav-1 .dropdown-wrapper {
    text-align: left;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 9999;
    box-sizing: border-box;
    background: #fff;
    border-left: 1px #09223f solid;
    border-right: 1px #09223f solid;
    border-bottom: 1px #09223f solid;
    height: 244px;
    width: 100%;
    overflow: hidden;
    display: none;
}
@media screen and (max-width: 960px) {
    .cd-main-nav-1 .dropdown-wrapper {
        display: none !important;
    }
    .cd-main-nav-1 .item-1 .fa {
        display: none !important;
    }
}
.mni-position-wrapper {
    height: 244px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    font-family: "DroidSerif", serif;
}
.cd-main-nav-1 .dropdown-wrapper .position {
    position: absolute;
    /*top: 10px;*/
    left: 0;
    width: 99999px;
    height: 250px;
}
.cd-main-nav-1 .item-2:first-child, .cd-main-nav-1 .item-2:nth-child(5n+1) {
    margin-left: 10px;
}
.cd-main-nav-1 .item-2 {
    box-sizing: border-box;
    float: left;
    width: 192.8px;
    margin: 10px 10px 10px 0px;
}
.cd-main-nav-1 .item-2 a {
    color: #000;
    font-weight: 400;
    /*font-size: 14px;*/
    line-height: 20px;
}
.cd-main-nav-1 .item-2 .picture {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: auto;
    /*width: 176px;*/ /*was*/
    height: 116px;
    overflow: hidden;
    margin: 0 0 5px;
    border: 1px solid #e7e7e8;
    /*margin-top: 10px;*/ /*was*/
}
.cd-main-nav-1 .item-2 .picture img {
    height: 128px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.clear {
    clear: both;
}
.cd-main-nav-1 .bottom-nav-wrap {
    position: absolute;
    bottom: 0px;
}
.cd-main-nav-1 .bottom-nav {
    background: #efefef;
    width: 1024px;
    height: 40px;
    float: left;
    padding: 5px;
    /*margin-top: -10px;*/
}
.cd-main-nav-1 .bottom-nav a {
    display: inline-block;
    color: #fff !important;
    background: #09223f;
    padding: 4px;
    margin: 0 0 0 4px;
    font-family: "DinPro", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.cd-main-nav-1.retreat {
    display: none;
}

/*TOP-NEWS*/
.gd-bg-1 {
    background: #f1f1f2;
}
.gd-bg-1.sd-1 {
    margin: -25px 0 0;
}
.cd-top-news-1 {
    margin-top: 25px;
    position: relative;
    overflow: hidden;
    height: auto;
}
.top-news-in {
    position: relative;
    overflow: hidden;
}
.cd-top-news-pic {
    width: 100%;
    overflow: hidden;
}
.cd-top-news-1 .item .cd-top-news-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(images/black-filter.png);
    visibility: visible;
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    -ms-filter: " progid:DXImageTransform.Microsoft.Alpha" \ (Opacity=40);
    filter: alpha(opacity=60);*/
    background-color: #09223f;
    background-image: -webkit-linear-gradient(135deg,#09223f,#dc4225);
    background-image: -moz-linear-gradient(135deg,#09223f,#dc4225);
    background-image: -o-linear-gradient(135deg,#09223f,#dc4225);
    background-image: linear-gradient(135deg,#09223f,#dc4225);
    opacity: .7;
}
.cd-top-news-1 .item .green-filter {
    background-color: #002f4b;
    background-image: -webkit-linear-gradient(135deg,#002f4b,#417711);
    background-image: -moz-linear-gradient(135deg,#002f4b,#417711);
    background-image: -o-linear-gradient(135deg,#002f4b,#417711);
    background-image: linear-gradient(135deg,#002f4b,#417711);
    opacity: .7;
}
.cd-top-news-1 .item .yellow-filter {
    background-color: #e0be00;
    background-image: -webkit-linear-gradient(135deg,#e0be00,#dc4225);
    background-image: -moz-linear-gradient(135deg,#e0be00,#dc4225);
    background-image: -o-linear-gradient(135deg,#e0be00,#dc4225);
    background-image: linear-gradient(135deg,#e0be00,#dc4225);
    opacity: .7;
}
.cd-top-news-1 .item .purple-filter {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg,#292484,#a83279);
    background-image: -moz-linear-gradient(135deg,#292484,#a83279);
    background-image: -o-linear-gradient(135deg,#292484,#a83279);
    background-image: linear-gradient(135deg,#292484,#a83279);
    opacity: .7;
}
.cd-top-news-1 .item .orange-filter-up {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg,#d38312,#002f4b);
    background-image: -moz-linear-gradient(135deg,#d38312,#002f4b);
    background-image: -o-linear-gradient(135deg,#d38312,#002f4b);
    background-image: linear-gradient(135deg,#d38312,#002f4b);
    opacity: .7;
}
.cd-top-news-1 .item .orange-filter-down {
    background-color: #417711;
    background-image: -webkit-linear-gradient(135deg,#417711,#dc4225);
    background-image: -moz-linear-gradient(135deg,#417711,#dc4225);
    background-image: -o-linear-gradient(135deg,#417711,#dc4225);
    background-image: linear-gradient(135deg,#417711,#dc4225);
    opacity: .7;
}
.cd-top-news-1 .item .yellow-purple-filter {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg,#d38312,#a83279);
    background-image: -moz-linear-gradient(135deg,#d38312,#a83279);
    background-image: -o-linear-gradient(135deg,#d38312,#a83279);
    background-image: linear-gradient(135deg,#d38312,#a83279);
    opacity: .7;
}
.cd-top-news-1 .item:hover {
    cursor: pointer;
}
.cd-top-news-1 .item:hover .cd-top-news-filter {
    /*-webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;*/
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: " progid:DXImageTransform.Microsoft.Alpha" \ (Opacity=90);
    filter: alpha(opacity=90);
}
.cd-top-news-1 .item:hover .cd-top-news-pic, .cd-video-box-1 .other-videos .item:hover .pic:after {
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    font-size: 50px;
}
.cd-top-news-1 .item:hover .headline p {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    bottom: 20px;
    transform-origin: bottom left;
}
/*.cd-top-news-1 .item .headline {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: url(http://www.istinomer.rs/images/rectangle-1.png);
    width: 170px;
    height: 150px;
    padding: 10px 10px 0 5px;
    color: #09223f;
    font-size: 16px;
    line-height: 22px;
    /*font-weight: 700;
}*/
.cd-top-news-1 .item .headline {
    position: absolute;
    width: 80%;
    bottom: 0px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Adelle', serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,1)
}
.cd-top-news-1 .item .headline .status {
    position: absolute;
    top: -25px;
}
/*.after-main {
    margin-top: 5px;
}*/
.test-grid {
    position: relative;
    overflow: hidden;
    height: auto;
}
/*VIDEO*/
.cd-video-box-1 {
    position: relative;
    overflow: hidden;
    padding-right: 5px;
    box-sizing: border-box;
}
.video-player iframe {
    width: 99.9%;
}

.cd-video-box-1 .other-videos .item {
    height: 80px;
}

.cd-video-box-1 .other-videos .item .pic {
    width: 140px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    position: relative;
}
.cd-video-box-1 .other-videos .item .pic img {
    height: 100%;
}
.cd-video-box-1 .other-videos .item p {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    font-family: "DroidSerif", serif;
}
.cd-video-box-1 .headline {
    float: left;
}
.cd-video-box-1 .other-videos .item a {
    height: 100%;
    display: block;
}
.cd-video-box-1 .other-videos .item .pic:after {
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background-image: url(http://www.istinomer.rs/images/elements.png);
    background-position: 0 -266px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    -ms-filter: " progid:DXImageTransform.Microsoft.Alpha" \ (Opacity=50);
    filter: alpha(opacity=50);
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    margin: auto;
    /*z-index: 2;*/
    cursor: pointer;
}
.cd-video-box-1 .other-videos .item a:hover > .pic:after {
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9;
    -ms-filter: " progid:DXImageTransform.Microsoft.Alpha" \ (Opacity=90);
    filter: alpha(opacity=90);
}
.all-videos {
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}
@media screen and (max-width: 768px) {
    .cd-video-box-1 .other-videos {
        display: none;
    }
}

/*Q&A*/
.cd-question-and-answer-1 .wrapper-scroll {
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.cd-question-and-answer-1 .question {
    color: #000;
    margin: 0 0 10px;
    line-height: 24px;
}
.cd-question-and-answer-1 .question:before {
    color: #c4161c;
    content: '?';
    display: inline-block;
    font-family: "Graffiare";
    margin: 0 10px 0 0;
    font-size: 24px;
}
.cd-question-and-answer-1 .answer {
    line-height: 24px;
}
.cd-question-and-answer-1 .answer:before {
    content: "";
    display: inline-block;
    background-image: url(images/tt.jpg);
    background-size: 30px;
    width: 30px;
    height: 30px;
}

/*ANKETA*/
.cd-poll-1 .question {
    color: #09223f;
    /*font-size: 14px;*/
    line-height: 20px;
}
.cd-poll-1 .answer {
    /*margin: 0 10px 10px;*/
    /*padding: 0 0 10px;*/
    padding: 2px;
}
.cd-poll-1 .answer label {
    margin: 0 0 0 5px;
    cursor: pointer;
    color: #09223f;
    font-weight: normal !important;
    font-size: 13px; /*was 16px*/
    text-transform: uppercase;
}
.cd-poll-1 .answer-btn {
    background: #c4161c;
    color: #fff;
    padding: 7px;
    width: 80px;
    text-align: center;
    float: right;
}
.cd-poll-1 .answer-btn:hover {
    background: #db191f;
    cursor: pointer;
}
.cd-poll-1 .show-result-btn:hover {
    cursor: pointer;
}

/*MORE NEWS*/
.alpha {
    float: left;
}
.doslednost {
    margin-right: 0px;
}
.cd-more-news-1 .item-big .pic-wrapper {
    position: relative;
}
/*.cd-more-news-1 .item-big .pic-wrapper a {
    /*width: 301px;
    height: 200px;
    display: block;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
}*/
.cd-more-news-1 .item-big .pic-wrapper .pic {
    position: relative;
    overflow: hidden;
}
.cd-more-news-1 .item-big .pic-wrapper .pic img {
    /*position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;*/
    width: 100%;
    /*height: 199px;*/
    z-index: -1;
}
.cd-more-news-1 .item-big .pic-wrapper .status {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.cd-more-news-1 .item-big h2 {
    color: #000;
    font-size: 13px;
    line-height: 16px;
    margin-top: 20px !important;
}
.cd-more-news-1 .item-big h3 { /*backend delete*/
    height: 32px;
    color: #a5a7aa;
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0 0;
    display: none;
}

.cd-more-news-1 .item {
    position: relative;
    overflow: hidden;
    height: 88px;
    padding: 0px 20px 20px 20px;
    box-sizing: initial;
}
.cd-more-news-1 .item .pic {
    position: relative;
    width: 130px;
    height: 90px;
    overflow: hidden;
    display: block;
}
/*.cd-more-news-1 .item .pic a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}*/
.cd-more-news-1 .item .pic img {
    /*width: 100%;*/
    height: 90px;
    position: absolute;
    top: 0;
    /*left: -30px;*/
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}
.cd-more-news-1 .item h2 {
    height: 32px;
    color: #000;
    font-size: 13px;
    line-height: 16px;
    /*font-weight: 700;*/
    margin: 0 0 5px;
    padding: 10px;
    display: flex;
}
.cd-more-news-1 .item h3 { /*backend delete*/
    height: 48px;
    color: #a5a7aa;
    font-size: 12px;
    line-height: 16px;
    display: none;
}
.cd-more-news-1 .more a {
    border-bottom: 5px #c4161c solid;
    display: block;
    color: #c4161c;
    padding: 15px 0 10px;
    text-align: center;
    /*font-size: 14px;*/
    /*font-weight: 700;*/
}
.cd-more-news-1 .more a:hover {
    color: #fff;
    background: #c4161c;
}

/*BANNER LIST*/
.cd-advertisement-1 {
    width: 100%;
    max-height: 250px;
        overflow: hidden;
}
.cd-advertisement-1 a {
    width: 100%;
}
.cd-advertisement-1 img {
    width: 100%;
}
/*RECOMMEND*/
.recommendation {
    background: #f1f1f2;
}
.cd-recommend-1 {
    padding-top: 10px;
    padding-bottom: 20px;
}
.cd-recommend-1 .text {
    margin-top: 10px;
    line-height: 24px;
}
.cd-recommend-1 .border {
    padding: 20px 0 0;
    border-bottom: 1px #a5a7aa solid;
    margin: 0 1%;
}
.cd-recommend-1 .pic {
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .cd-recommend-1 .grid-8 {
        padding: 20px 0 20px 0 !important;
    }
}
/*POPULAR QUOTES*/
.cd-popular-quotes-1 {
    /*background: #e7e7e8;*/
    /*box-shadow: 0 0 10px #bbb inset;*/
}
.cd-popular-quotes-wrap .grid-4:nth-child(3) .cd-popular-quotes-1 {
    margin-right: 0px;
}
.cd-popular-quotes-1 .item {
    position: relative;
    box-sizing: content-box;
}
.cd-popular-quotes-1 .fa-quote-left {
    position: absolute;
    top: 35px;
    left: 10px;
    color: #a5a7aa;
}
.cd-popular-quotes-1 .fa-quote-right {
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: #a5a7aa;
}
.cd-popular-quotes-1 .text {
    margin-bottom: 20px;
}
.cd-popular-quotes-1 .all-more {
    position: relative;
    bottom: 0;
    float: right;
}
/*FOOTER*/
.footer {
    background: #09223f;
    font-family: "DinPro";
    height: 15px;
}
.footer-logo {
    float: right;
    margin: 20px 20px 20px 0;
    height: 60px;
}
/*BOOTSTRAP EDIT*/
.container {
    max-width: 1024px;
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.container, .container-fluid, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
    width:auto;
}
.nav-sticky {
    position: fixed;
    top: 0;
    width: 1023px;
    z-index: 10;
    border-bottom: 0px;
}
.img-shadow-lg, .img-shadow-sm {
    position: relative;
    max-width: 100%;
    width: 100%;
    float: left;
}
.img-shadow-lg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 80px #000;
    -moz-box-shadow: inset 0 0 80px #000;
    -webkit-box-shadow: inset 0 0 80px #000;
}
.img-shadow-lg img, .img-shadow-sm img {
    float: left;
}
.img-shadow-sm::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 40px #000;
    -moz-box-shadow: inset 0 0 40px #000;
    -webkit-box-shadow: inset 0 0 40px #000;
}
.width-100p {
    width: 100%;
}
.width-100p img {
    width: 100%;
}
.back-to-top {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 3px;
    display: none;
}
.back-to-top .tt_icon {
    background: url(images/tt_white.png);
    width: 30px;
    height: 30px;
    background-size: 30px;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    transition: transform 100ms ease;
    position: absolute;
}
.back-to-top:hover .tt_icon {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    cursor: pointer;
}
.padding-20 {
    padding: 20px !important;
}
.padding-top-bottom {
    padding-top: 10px;
    padding-bottom: 20px;
}
.padding-left-right {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.padding-top {
    padding-top: 10px;
}
.padding-bottom {
    padding-bottom: 20px;
}

/*SIDE NAVIGATION*/
.side-menu-button {
    float: left;
    padding: 10px;
    margin-top: 12px;
}
.navbar-toggle {
    padding: 0px !important;
    margin: 0px !important;
}
.navbar-toggle .icon-bar {
    border: 1.5px solid #09223f;
}
@media screen and (max-width: 1100px) {  
    #sticky-nav {
        display: none;
    }
    .cd-header-1 .top-nav {
        display: none;
    }
    .cd-header-1 {
        margin-top: 0px;
    }
    .gd-bg-1.sd-1 {
        margin: 0px;
    }
    .cd-top-news-1 {
        margin-top: 0px;
    }
    .top-content {
        width: 66.9%;
    }
    .cd-header-1 .logo {
        width: calc(33.1% - 44px);
        height: 60px;
        margin-top: 0px;
        margin-left: 0px;
        float: left;
        text-align: center;
    }
    .cd-header-1 .logo img {
        width: auto;
        height: 92%;
        margin-top: 3px;
        float: left;
    }
    .top-content .trending {
        width: calc(100% - 80px);
    }
    .top-content .trending .text p {
        font-size: 13px;
    }
}
@media (min-width: 1101px) {
    .navbar-toggle {
        display: none !important;
    }
}

@media (max-width: 1100px) {
    .navbar-toggle {
        display: inherit !important;
    }
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled .page-content-wrapper {
    pointer-events: none;
}
#wrapper.toggled .content-blocker {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed;
    pointer-events: none;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -252px;
    border-right: 2px solid #c4161c;
    overflow-y: auto;
    background: #111;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "DinPro";
    font-size: 16px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 252px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    background-color: #222;
    border-top: 1px solid #2f2f2f;
}
.sidebar-nav li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff !important;
}
.sidebar-nav li a:hover {
    color: #c4161c !important;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li .social a {
    display: initial;
}

@media screen and (max-width: 768px) {
    .top-content .trending {
        display: none;
    }
    .top-content {
        width: 80px;
    }
    .cd-header-1 .logo {
        width: calc(100% - 124px);
    }
}

/*NEWEST SIDEBAR*/
#newest-toggle {
    position: absolute;
    right: 0;
    width: 80px;
    height: 60px;
    top: 0;
    display: none;
}
@media screen and (max-width: 1100px) {
    #newest-toggle {
        display: inherit;
    }
}
#newest-all {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#newest-all.toggled .page-content-wrapper {
    pointer-events: none;
}
#newest-all.toggled .content-blocker {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed;
    pointer-events: none;
}
#newest-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -252px;
    border-left: 2px solid #c4161c;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "DroidSerif", serif;
}
#newest-all.toggled #newest-wrapper {
    width: 252px;
}
.newest-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 0px;
}
.newest-nav .newest-date {
    font-family: "DinPro";
    text-transform: uppercase;
    background: #c4161c;
    color: #fff;
    display: initial;
    padding: 2px 5px;
}
.newest-nav li {
    list-style: none;
}
.newest-nav li a {
    display: block;
}
.newest-nav li a:hover {
    color: #c4161c !important;
}
.newest-nav li a:active,
.newest-nav li a:focus {
    text-decoration: none;
}
.newest-day {
    margin-top: 20px;
}
.newest-stories li {
    margin-top: 10px;
}


/*OCENE CSS*/
.cd-page-navigation-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
    .article-left.col-md-2, .article-right.col-md-2 {
        width: 20.8333333375%;
    }
}

.container-border {
    border-top: 1px solid #ccc;
}

/*LEFT SIDE*/
.pic-wrapper {
    position: relative;
}
.pic-wrapper .status {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.akter-header {
    margin-top: 10px;
    padding: 10px;
    min-height: 90px;
    background: #f1f1f2;
    font-size: 16px;
}
.akter-header p:last-child {
    font-size: 13px;
    margin-top: 10px !important;
}
.akter .pic img {
    min-height: 140px;
}

@media screen and (max-width: 992px) {
    .akter {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .akter .pic-wrapper {
        float: left;
        max-width: 121px;
    }
    .akter .pic img {
        min-height: auto;
    }
    .akter .width-100p img {
        width: auto;
        max-height: 80px;
    }
    .akter-header {
        float: left;
        margin-top: 0px;
        height: 80px;
        background: transparent;
    }
}

/*MIDDLE*/
.article {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.article-header {
    height: 140px;
    vertical-align: text-bottom;
    display: box;
    box-pack: center;
    box-align: center;
    display: -webkit-box;
    -webkit-box-pack: inherit;
    -webkit-box-align: end;
}
.article-header h1 {
    font-family: 'Adelle', serif;
    font-size: 28px;
}
.article-citat {
    margin-left: -20px;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    min-height: 90px;
    background: #f1f1f2;
}
.article-citat h2 {
    font-size: 16px;
    line-height: 25px;
}
.article-citat p:last-child {
    text-align: right;
    margin-top: 10px !important;
}

/*.article-photo-wrapper {
    margin-top: 10px;
    position: relative;
}
.article-photo-wrapper .photo img {
    width: 100%;
}
.article-photo-wrapper .photo-source {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
}*/
.article .heading-h, .article-right .heading-h {
    padding-left: 0px;
}
.article-content a {
    color: #c4161c !important;
}
.article .block-quote {
    margin: 20px 0 20px 0;
    padding: 20px;
    background: #f1f1f2;
}
.article-tags {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.article-tags a {
    background: #f1f1f2;
    color: #333;
    padding: 5px 7px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.related-articles.col-sm-9 {
    width: 79.1666666625%;
}
.related-articles .item {
    margin-top: 20px;
    padding-left: 20px !important;
}

.related-articles .item h2 {
    font-size: 13px;
    padding-top: 10px;
}

@media screen and (max-width: 992px) {
    .article-header {
        height: auto;
        padding-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .related-articles {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .related-articles .item {
        padding: 0 !important;
    }
    .related-articles .item .pic-wrapper {
        float: left;
        max-width: 121px;
    }
    .related-articles .item h2 {
        display: flex;
    }
    .related-articles .item h2 a {
        padding-left: 10px;
        display: block;
        float: left;
    }
}
/*RIGHT SIDE*/
.article-right .social {
    margin-top: 151px;
}
.most-read .item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .article-right .social {
        margin-top: 20px;
    }
    .most-read {
        padding: 20px;
    }
}

/*DISCUSS*/
#disqus_thread {
    clear: left;
}

#disqus_thread body {
    font-family: 'DroidSans', Arial, Helvetica, sans-serif !important;
}

@media screen and (max-width: 1100px) {
    #disqus_thread {
        padding: 20px;
    }
}

/*ISPRAVKE*/
.footer-logo {
    margin: 20px 0px 20px 0;
}

@media screen and (max-width: 1100px) { /*mozda ubaciti da postoji stalno*/
    .top-content {
        border-bottom: 1px solid #ccc;
    }
}
@media screen and (max-width: 992px) {
    .cd-page-navigation-1 {
        padding: 20px;
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .second-container .article-left {
        display: none;
    }
}

/*CSS ZA STARI HTML*/
.photography-wrapper {
    position: relative;
    margin-top: 10px;
}
.photography-wrapper .photography img {
    width: 100%;
}
.photography-wrapper .source {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
}

/*VIDEO CSS*/
/*iframe {
    width: auto !important;
}*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe, 
.video-container object, 
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}

.main-video {
    background: #fff;
    padding-top: 25px;
}
.video-right {
    padding: 20px !important;
}
.video-text {
    margin-bottom: 20px;
}
.social .facebook, .social .twitter {
    float: left;
}
.other-video {
    width: 4.67%;
    padding-right: 10px;
    float: left;
}
.other-video:nth-child(4n) {
    margin-right: 0px;
}
.other-video .pic {
    position: relative;
}
@media screen and (min-width: 1024px) {
    .other-video .pic img {
        min-height: 134px;
    }
}
@media screen and (max-width: 992px) {
    .social .facebook, .social .twitter {
        float: none;
    }
}
.other-video .pic:after, .category-video .pic:after {
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background-image: url(http://www.istinomer.rs/images/elements.png);
    background-position: 0 -266px;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    -ms-filter: " progid:DXImageTransform.Microsoft.Alpha" \ (Opacity=50);
    filter: alpha(opacity=50);
    content: '';
    position: absolute;
    top: 27%;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}
.other-video a:hover > .pic:after, .category-video a:hover > .pic:after {
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9;
    -ms-filter: " progid:DXImageTransform.Microsoft.Alpha" \ (Opacity=90);
    filter: alpha(opacity=90);
}
.video-info {
    padding-top: 5px;
    padding-bottom: 20px;
}
.video-info p {
    display: inline-block;
}
.video-time {
    color: #999;
    float: right;
}
.other-videos-container {
    position: relative;
    overflow: hidden;
}
.other-videos-wrapper {
    position: relative;
    height: 180px;
}
.other-videos-wrapper .position {
    position: absolute;
    left: 0;
    top: 0;
    width: 540%;
    min-height: 250px;
}
#ovideos-btn-left, #ovideos-btn-right {
    position: absolute;
    margin-top: 50px;
    z-index: 1;
    cursor: pointer;
}
#ovideos-btn-left {
    left: 10px;
}
#ovideos-btn-right {
    top: 0;
    right: 10px;
}
#ovideos-btn-left .fa, #ovideos-btn-right .fa {
    color: #fff;
}

.category-video-container {
    position: relative;
    border-bottom: 1px solid #ccc;
}
.category-video {
    padding-right: 10px !important;
}
.category-video:last-child {
    padding-right: 0px !important;
}
.all-category-videos {
    position: absolute;
    right: 0;
    top: 10px;
}

/*ADD TO STYLE CSS*/
.padding-0 {
    padding-left: 0px !important;
}